.cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  width: 260px;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ddd;
}
